In [7]:
# import dependencies 
import requests 
import pandas as pd
import numpy as np
import time 
from datetime import datetime
from sqlalchemy import create_engine
import psycopg2
import sqlite3
import config

### Postgres

In [132]:
#connect to postgres database 
conn = psycopg2.connect(database="postgres", user=config.db_user, password=config.db_password, sslmode="disable")
cur = conn.cursor();

In [133]:
#test connection
cur.execute('''SELECT * FROM information_schema.tables where table_schema = 'crime_data' ''')

In [134]:
df = pd.DataFrame((cur.fetchall()))
df.columns = [i[0] for i in cur.description]
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,postgres,crime_data,crime_incidents,BASE TABLE,None,None,None,None,None,YES,NO,None

In [138]:
conn = psycopg2.connect(database="postgres", user=config.db_user, password=config.db_password, sslmode="disable")
cur = conn.cursor()
conn.autocommit = True
cur.execute('''CREATE DATABASE pitchfork''')
conn.close()

### Sqlite

In [160]:
sqlite_conn = sqlite3.connect("../sqlite/database.sqlite")
sqlite_cur = sqlite_conn.cursor()

In [155]:
df = pd.DataFrame(sqlite_cur.execute("SELECT name FROM sqlite_master WHERE type='table'"))
df.columns = [i[0] for i in sqlite_cur.description]
df

      name
0  reviews
1  artists
2   genres
3   labels
4    years
5  content

## Review tables

In [176]:
review_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM reviews'))
review_df.columns = [i[0] for i in sqlite_cur.description]
review_df.head(2)

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017

In [177]:
artists_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM artists'))
artists_df.columns = [i[0] for i in sqlite_cur.description]
artists_df.head(2)

   reviewid          artist
0     22703  massive attack
1     22721        krallice

In [178]:
artists_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM genres'))
artists_df.columns = [i[0] for i in sqlite_cur.description]
artists_df.head(2)

   reviewid       genre
0     22703  electronic
1     22721       metal

In [180]:
labels_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM labels'))
labels_df.columns = [i[0] for i in sqlite_cur.description]
labels_df.head(2)

   reviewid      label
0     22703     virgin
1     22721  hathenter

In [182]:
years_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM years'))
years_df.columns = [i[0] for i in sqlite_cur.description]
years_df.head(2)

   reviewid    year
0     22703  1998.0
1     22721  2016.0

In [183]:
content_df = pd.DataFrame(sqlite_cur.execute('SELECT * FROM content'))
content_df.columns = [i[0] for i in sqlite_cur.description]
content_df.head(2)

   reviewid                                            content
0     22703  “Trip-hop” eventually became a ’90s punchline,...
1     22721  Eight years, five albums, and two EPs in, the ...